In [1]:
###Dependecies
import sqlite3
import pandas as pd
from io import BytesIO
from bs4 import BeautifulSoup
import requests
from flask import Flask, render_template, redirect, url_for
from flask_pymongo import PyMongo
from pymongo import MongoClient
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import numpy as np
from config import skey
import json
import pprint as pp
from collections import OrderedDict 
import pymongo

In [2]:
#establich link to local database
client = MongoClient('localhost:27017')
db = client["steam_user_db"]

In [18]:
#disclude users who appeared with no gameplay time recorded from api call
steam_users_list = db['steam users'].find({'total_games_played' : { '$gt' : 0}})

In [19]:
#convert cursor object to list
temp_list = list(steam_users_list)

In [20]:
#how many users do we have?
print(len(temp_list))

880

In [43]:
#print(temp_list[0])

{'_id': '76561198045059228', 'current_account_name': 'OMANEYE', 'original_account_name': 'Alex', 'profile_url': 'https://steamcommunity.com/profiles/76561198045059228/', 'total_games_owned': 145, 'total_games_played': 113, 'user_game_data': {'4000': {'game_number': 'game0', 'hours_played': '10.75'}, '3480': {'game_number': 'game1', 'hours_played': '4.50'}, '24740': {'game_number': 'game2', 'hours_played': '1.58'}, '22370': {'game_number': 'game3', 'hours_played': '32.27'}, '22600': {'game_number': 'game4', 'hours_played': '41.57'}, '8980': {'game_number': 'game5', 'hours_played': '79.18'}, '729040': {'game_number': 'game6', 'hours_played': '36.87'}, '620': {'game_number': 'game8', 'hours_played': '16.80'}, '105600': {'game_number': 'game9', 'hours_played': '189.52'}, '70600': {'game_number': 'game10', 'hours_played': '0.38'}, '65800': {'game_number': 'game11', 'hours_played': '78.40'}, '204030': {'game_number': 'game12', 'hours_played': '14.77'}, '22380': {'game_number': 'game13', 'hours_played': '66.77'}, '209080': {'game_number': 'game15', 'hours_played': '10.25'}, '202990': {'game_number': 'game18', 'hours_played': '3.10'}, '212910': {'game_number': 'game19', 'hours_played': '0.22'}, '204360': {'game_number': 'game20', 'hours_played': '21.98'}, '49520': {'game_number': 'game21', 'hours_played': '920.60'}, '213610': {'game_number': 'game23', 'hours_played': '15.72'}, '221640': {'game_number': 'game26', 'hours_played': '1.82'}, '212480': {'game_number': 'game27', 'hours_played': '6.18'}, '230410': {'game_number': 'game29', 'hours_played': '294.28'}, '238960': {'game_number': 'game30', 'hours_played': '0.10'}, '265630': {'game_number': 'game32', 'hours_played': '2.67'}, '204240': {'game_number': 'game33', 'hours_played': '0.58'}, '220160': {'game_number': 'game34', 'hours_played': '23.08'}, '8870': {'game_number': 'game35', 'hours_played': '10.83'}, '208090': {'game_number': 'game36', 'hours_played': '22.42'}, '210770': {'game_number': 'game37', 'hours_played': '0.05'}, '72850': {'game_number': 'game38', 'hours_played': '57.78'}, '218620': {'game_number': 'game40', 'hours_played': '17.87'}, '225280': {'game_number': 'game41', 'hours_played': '10.58'}, '207140': {'game_number': 'game42', 'hours_played': '13.77'}, '251170': {'game_number': 'game43', 'hours_played': '179.88'}, '252490': {'game_number': 'game44', 'hours_played': '311.60'}, '249990': {'game_number': 'game46', 'hours_played': '13.40'}, '214950': {'game_number': 'game47', 'hours_played': '0.70'}, '247730': {'game_number': 'game48', 'hours_played': '0.98'}, '39210': {'game_number': 'game49', 'hours_played': '11.77'}, '263440': {'game_number': 'game50', 'hours_played': '1.33'}, '211820': {'game_number': 'game51', 'hours_played': '19.05'}, '221100': {'game_number': 'game53', 'hours_played': '0.92'}, '230230': {'game_number': 'game54', 'hours_played': '158.28'}, '373420': {'game_number': 'game55', 'hours_played': '40.25'}, '8930': {'game_number': 'game56', 'hours_played': '198.58'}, '550': {'game_number': 'game57', 'hours_played': '0.75'}, '251570': {'game_number': 'game58', 'hours_played': '325.67'}, '281990': {'game_number': 'game59', 'hours_played': '8.67'}, '238240': {'game_number': 'game60', 'hours_played': '1.30'}, '285900': {'game_number': 'game61', 'hours_played': '2.47'}, '288470': {'game_number': 'game62', 'hours_played': '15.92'}, '289070': {'game_number': 'game63', 'hours_played': '754.67'}, '286160': {'game_number': 'game64', 'hours_played': '34.38'}, '295110': {'game_number': 'game65', 'hours_played': '7.90'}, '245490': {'game_number': 'game69', 'hours_played': '12.95'}, '238460': {'game_number': 'game70', 'hours_played': '26.38'}, '301520': {'game_number': 'game71', 'hours_played': '49.33'}, '258970': {'game_number': 'game72', 'hours_played': '5.62'}, '304930': {'game_number': 'game74', 'hours_played': '3.35'}, '310510': {'game_number': 'game75', 'hours_played': '19.35'}, '200110': {'game_number': 'game76', 'hours_played': '20.63'}, '226320': {'game_number': 'game77', 'hours_played': '23.63'}, '261640': {'game_number': 'game78', 'hours_played': '247.38'}, '274940': {'game_number': 'game79', 'hours_played': '26.35'}, '233610': {'game_number': 'game80', 'hours_played': '1751.82'}, '301970': {'game_number': 'game81', 'hours_played': '2.50'}, '330830': {'game_number': 'game82', 'hours_played': '26.05'}, '331670': {'game_number': 'game84', 'hours_played': '53.25'}, '334230': {'game_number': 'game85', 'hours_played': '5.63'}, '236110': {'game_number': 'game86', 'hours_played': '2.03'}, '335240': {'game_number': 'game87', 'hours_played': '0.95'}, '219740': {'game_number': 'game88', 'hours_played': '0.52'}, '322330': {'game_number': 'game89', 'hours_played': '22.60'}, '271590': {'game_number': 'game93', 'hours_played': '24.98'}, '344760': {'game_number': 'game94', 'hours_played': '36.95'}, '346110': {'game_number': 'game95', 'hours_played': '29.28'}, '360830': {'game_number': 'game101', 'hours_played': '6.20'}, '377160': {'game_number': 'game102', 'hours_played': '273.00'}, '378860': {'game_number': 'game103', 'hours_played': '1.72'}, '381210': {'game_number': 'game104', 'hours_played': '5.83'}, '386360': {'game_number': 'game105', 'hours_played': '34.58'}, '386940': {'game_number': 'game107', 'hours_played': '1.87'}, '391540': {'game_number': 'game108', 'hours_played': '0.97'}, '253030': {'game_number': 'game109', 'hours_played': '1.67'}, '413150': {'game_number': 'game110', 'hours_played': '0.08'}, '431240': {'game_number': 'game111', 'hours_played': '19.32'}, '435150': {'game_number': 'game112', 'hours_played': '115.28'}, '442070': {'game_number': 'game113', 'hours_played': '15.82'}, '477160': {'game_number': 'game114', 'hours_played': '2.08'}, '506500': {'game_number': 'game115', 'hours_played': '1.08'}, '466240': {'game_number': 'game116', 'hours_played': '7.00'}, '529180': {'game_number': 'game117', 'hours_played': '139.12'}, '546560': {'game_number': 'game119', 'hours_played': '5.72'}, '489830': {'game_number': 'game120', 'hours_played': '54.70'}, '438740': {'game_number': 'game122', 'hours_played': '12.45'}, '578080': {'game_number': 'game123', 'hours_played': '142.80'}, '611670': {'game_number': 'game124', 'hours_played': '4.63'}, '620980': {'game_number': 'game126', 'hours_played': '5.17'}, '504370': {'game_number': 'game127', 'hours_played': '4.58'}, '739630': {'game_number': 'game129', 'hours_played': '3.67'}, '765710': {'game_number': 'game130', 'hours_played': '1.37'}, '774861': {'game_number': 'game131', 'hours_played': '4.58'}, '813780': {'game_number': 'game132', 'hours_played': '12.13'}, '813820': {'game_number': 'game133', 'hours_played': '13.60'}, '892970': {'game_number': 'game135', 'hours_played': '2.58'}, '945360': {'game_number': 'game136', 'hours_played': '71.80'}, '638070': {'game_number': 'game137', 'hours_played': '5.62'}, '1005300': {'game_number': 'game138', 'hours_played': '13.65'}, '359320': {'game_number': 'game139', 'hours_played': '16.05'}, '1086940': {'game_number': 'game140', 'hours_played': '53.77'}, '976730': {'game_number': 'game142', 'hours_played': '43.17'}, '1172620': {'game_number': 'game143', 'hours_played': '26.20'}, '1361000': {'game_number': 'game144', 'hours_played': '5.53'}}}

In [90]:
#various test statements:

#print(temp_list[0]['user_game_data'].keys())
#print(temp_list[0]['user_game_data']['4000']['hours_played'])

#current_player = db['steam users'].find({'_id' : user_id_list[0]})
#print(refined_app_ids[1] in current_player[0]['user_game_data'])

False

In [35]:
#create cumulative list of users and games
user_id_list = []
app_id_list = []
for i in range(len(temp_list)):
    user_id_list.append(temp_list[i]['_id'])
    app_id_list = app_id_list + list(temp_list[i]['user_game_data'].keys())

In [37]:
#print(len(app_id_list))
#print(len(set(app_id_list)))

119957
10491

In [57]:
#drop duplicates from game list
refined_app_ids = set(app_id_list)
refined_app_ids = list(refined_app_ids)

In [44]:
#create dataframe that will be converted to sparse.matrix
matrix_df = pd.DataFrame(index = refined_app_ids, columns=user_id_list)

In [47]:
matrix_df.head()

,76561198045059228,76561197998983239,76561198098408952,76561198045590703,76561198009324737,76561198149174522,76561198132793860,76561198029633447,76561198078745756,76561197963578673,...,76561198091258238,76561198021810199,76561197975564454,76561198197818607,76561198138109818,76561197992457738,76561197963638667,76561197985410515,76561198846437915,76561198068112781
630100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
556480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
def has_played(user_id, game_id):
    current_player = db['steam users'].find({'_id' : user_id})
    #if(current_player[0]['user_game_data'].has_key(game_id) == True):
    if(game_id in current_player[0]['user_game_data']):
        return 1
    else:
        return 0

In [94]:
print(matrix_df.info)

<bound method DataFrame.info of        76561198045059228 76561197998983239 76561198098408952  \
630100                 0                 0                 0
1300                   0                 0                 0
556480               NaN               NaN               NaN
212680               NaN               NaN               NaN
27900                NaN               NaN               NaN
...                  ...               ...               ...
542710               NaN               NaN               NaN
25980                NaN               NaN               NaN
335820               NaN               NaN               NaN
501990               NaN               NaN               NaN
384950               NaN               NaN               NaN

       76561198045590703 76561198009324737 76561198149174522  \
630100                 0                 0              3.03
1300                   0                 0                 0
556480               NaN               NaN               NaN
212680               NaN               NaN               NaN
27900                NaN               NaN               NaN
...                  ...               ...               ...
542710               NaN               NaN               NaN
25980                NaN               NaN               NaN
335820               NaN               NaN               NaN
501990               NaN               NaN               NaN
384950               NaN               NaN               NaN

       76561198132793860 76561198029633447 76561198078745756  \
630100                 0                 0                 0
1300                   0                 0                 0
556480               NaN               NaN               NaN
212680               NaN               NaN               NaN
27900                NaN               NaN               NaN
...                  ...               ...               ...
542710               NaN               NaN               NaN
25980                NaN               NaN               NaN
335820               NaN               NaN               NaN
501990               NaN               NaN               NaN
384950               NaN               NaN               NaN

       76561197963578673  ... 76561198091258238 76561198021810199  \
630100                 0  ...                 0                 0
1300                   0  ...                 0                 0
556480               NaN  ...               NaN               NaN
212680               NaN  ...               NaN               NaN
27900                NaN  ...               NaN               NaN
...                  ...  ...               ...               ...
542710               NaN  ...               NaN               NaN
25980                NaN  ...               NaN               NaN
335820               NaN  ...               NaN               NaN
501990               NaN  ...               NaN               NaN
384950               NaN  ...               NaN               NaN

       76561197975564454 76561198197818607 76561198138109818  \
630100                 0                 0                 0
1300                   0                 0                 0
556480               NaN               NaN               NaN
212680               NaN               NaN               NaN
27900                NaN               NaN               NaN
...                  ...               ...               ...
542710               NaN               NaN               NaN
25980                NaN               NaN               NaN
335820               NaN               NaN               NaN
501990               NaN               NaN               NaN
384950               NaN               NaN               NaN

       76561197992457738 76561197963638667 76561197985410515  \
630100                 0              0.37                 0
1300                   0                 0                 0
556480               NaN               NaN               NaN
212680               NaN               NaN               NaN
27900                NaN               NaN               NaN
...                  ...               ...               ...
542710               NaN               NaN               NaN
25980                NaN               NaN               NaN
335820               NaN               NaN               NaN
501990               NaN               NaN               NaN
384950               NaN               NaN               NaN

       76561198846437915 76561198068112781
630100                 0                 0
1300                   0                 0
556480               NaN               NaN
212680               NaN               NaN
27900                NaN               NaN
...                  ...               ...
542710               NaN               NaN
25980                NaN               NaN
335820               NaN               NaN
501990               NaN               NaN
384950               NaN               NaN

[10491 rows x 880 columns]>

In [ ]:
# values determined by size of dataframe
# this will populate the dataframe with values for each user relative to each game
# 0 if the user has no recorded playtime
# not 0 if the user does have recorded playtime
# This is an inefficient way to populate a df

for i in range(10491):
    
    #set new value for eficiency
    current_app_id = refined_app_ids[i]
    
    for id in range(880):
        
        #set new value for eficiency
        current_player_id = user_id_list[id]
        
        if(has_played(current_player_id, current_app_id)==1):
            player = db['steam users'].find({'_id' : current_player_id})
            value_to_store = player[0]['user_game_data'][current_app_id]['hours_played']
            
            matrix_df.loc[current_app_id, current_player_id] = float(value_to_store)
        else:
            matrix_df.loc[current_app_id, current_player_id] = 0

In [93]:
matrix_df.head()

,76561198045059228,76561197998983239,76561198098408952,76561198045590703,76561198009324737,76561198149174522,76561198132793860,76561198029633447,76561198078745756,76561197963578673,...,76561198091258238,76561198021810199,76561197975564454,76561198197818607,76561198138109818,76561197992457738,76561197963638667,76561197985410515,76561198846437915,76561198068112781
630100,0,0,0,0,0,3.03,0,0,0,0,...,0,0,0,0,0,0,0.37,0,0,0
1300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
556480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#scipy.sparse.csr_matrix(matrix_df.values)

# from lightfm import LightFM
# from lightfm.evaluation import precision_at_k
# from lightfm.evaluation import auc_score

# model = LightFM(learning_rate=0.05, loss='warp')

# model.fit_partial(train, epochs=10)

In [ ]:
matrix_df