In [3]:
###Dependecies
import sqlite3
import pandas as pd
from io import BytesIO
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import numpy as np

In [5]:
user_data = pd.read_csv('data/100k_ids.csv')
user_data.head()

,steamid,timecreated,gameserverip,cityid,loccityid,loccountrycode,locstatecode
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7.656120e+16,9/10/2003 20:58,NaN,NaN,43754.0,SE,26
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7.656120e+16,9/10/2003 21:53,NaN,NaN,NaN,US,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
user_ids = user_data.dropna(how='all')
user_ids.reset_index(drop=True, inplace=True)
user_ids = user_ids.drop(columns=['timecreated', 'gameserverip', 'cityid', 'loccityid'])
user_ids = user_ids.rename(columns={'steamid': 'Steam ID',
                                    'loccountrycode': 'Country',
                                    'locstatecode': 'State'})
user_ids.head()

       Steam ID Country State
0  7.656120e+16      SE    26
1  7.656120e+16      US   NaN
2  7.656120e+16      CA    BC
3  7.656120e+16      AU   VIC
4  7.656120e+16      US    WA

In [11]:
steam_ids = user_ids['Steam ID'].tolist()
print(len(steam_ids))

99999

In [ ]:
http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=XXXXXXXXXXXXXXXXXXXXXXX&steamids=76561197960435530url = ""